{% extends 'myblog/base.html' %}

{% block content %}

<div class="container">
    <div class="card mb-3 my-3 mx-auto border-0"  style="max-width: 900px;">
        <div class="row g-0 ">
          <div class="col-md-8 mx-auto">
            <div class="card-body">

              <h5 class="card-title">{{post.title}}  </h5>

              {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                  <a href="{% url 'update_post' post.pk %}"> Edit </a> &nbsp &nbsp <a href="{% url 'delete_post' post.pk %}"> Delete </a> <br>
                {% endif %}
              {% endif %}

              By: {{post.author.first_name}} {{post.author.last_name}}

              <p class="card-text"> {{post.description|safe}}</p>

              <a href="{% url 'home' %}">Back</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}